:root{
    --main_dark : #18191A;
    --sub_dark : #242526;
    --light_dark : #3A3B3C;
    --border_dark : #393A3B;
    --box_border_dark : #3E4042;
    --check_background : #2e2e2e;
    --word : #E4E6EB;
}
div{
    vertical-align: top;
}
.header{
    padding-top: 15%;
    min-height: 650px;
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--main_dark);
    color: var(--word);
    font-family: "微軟正黑體";
}
h1{
    background: url("img/icon.png") no-repeat 50px 5px;
    background-size: 48px 48px;
    padding: 10px 110px;
    font-size: 2em;
    white-space: nowrap;
}
h2{
    font-size: 1.4em;
    color: var(--word);
    font-weight: unset;
    height: 60px;
    margin: 0 16px;
    align-items: center;
    border-bottom : 5px solid var(--box_border_dark);
}
.hr{
    margin: 0;
    border: unset;
    border-bottom : 5px solid var(--box_border_dark);
}
.title{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    background-color: var(--sub_dark);
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--border_dark);
    overflow: hidden;
    z-index: 100;
}
.title_box{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    padding: 0 16px;    
    grid-template-columns: 56px 40px 120px auto 160px;
}
.logo{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("img/icon.png") no-repeat;
    background-size: 40px 40px;
}
.biglogo{
    position: relative;
    display: inline-block;
    margin: 10px 0;
    width: 128px;
    height: 128px;
    background: url("img/icon.png") no-repeat;
    background-size: 128px 128px;
}
.title_left{
    display: inline-block;
    border-radius: 50%;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    margin: 0 16px 0 0;
    padding: 8px;
    transition: 0.5s;
}
.title_line{
    width: 18px;
    height: 2px;
    background-color: var(--word);
}
.guide{
    width: 24px;
    height: 24px;
    display: grid;
    justify-items: center;
    padding: 6px 3px;
    box-sizing: border-box;
    cursor: pointer;
    grid-template-rows: 5px 5px auto;
}
.title_left:active{
    background-color: #c7c7c77c;
}
tool-bar{
    top: 0;
    z-index: 200;
    transition: 200ms;
    position: fixed;
    height: 100%;
    background-color: var(--sub_dark);
    width: 260px;
    left: -260px;
    overflow: hidden;
}
tool-bar[opened]{
    left: 0;
}
.tool_title{
    height: 60px;
    grid-template-columns: 56px 40px auto;
}
#dark_scrim[opened]{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    z-index: 199;
}
.little_object{
    display: inline-block;
    justify-self: right;
    width: 40px;
    height: 40px;
}
.little_object img{
    pointer-events: none;
    margin: 10px;
    float: left;
}
.little_object::after{
    content: '';
    cursor: pointer;
    transition: 200ms;
    display: block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--light_dark);
}
.little_object:hover::after{
    background-color: #4e4f50;
}
.content{
    background-color: var(--sub_dark);
    margin: 0 50px;
    position: relative;
    box-sizing: border-box;
    border-radius: 16px;
    border-right: solid 50px rgba(0, 0, 0, 0);
    padding: 10px 20px;
    overflow: hidden;
}
.package{
    box-sizing: border-box;
    display: inline-block;
}
.fake_checkbox,.color{
    box-sizing: border-box;
    position: relative;
    display: grid;
    grid-template-columns: 24px auto;
    grid-gap: 10px;
    align-items: center;
    width: 250px;
    height: 70px;
    font-size: 1.4em;
    margin-top: 16px;
    margin-left: 16px;
    background-color: var(--check_background);
    padding: 4px 16px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: inset 1px 1px rgb(100, 102, 104), 2px 2px 2px var(--main_dark);
}
.fake_checkbox[check=false] .true_checkbox{
    border : 1px solid gray;
}
.fake_checkbox[check=false] .true_checkbox_fill{
    display: none;
}
.true_checkbox{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border : 1.5px solid aqua;
    border-radius: 50%;
    text-align: center;
    justify-self : center;
}
.true_checkbox_fill{
    display: inline-block;
    position: absolute;
    background-color: aqua;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: 50%;top: 50%;
    transform: translate(-50%,-50%);
}
.bar,.word{
    cursor: pointer;
    display: grid;
    height: 60px;
    font-size: 1.4em;
    margin: 0 16px;
    align-items: center;
    grid-template-columns: auto auto;
    border-bottom : 5px solid var(--box_border_dark);
}
.word{
    cursor: unset;
}
.bar[check=false] .bar_round{
    background-color: #606770;
    left: 0%;
    transform: translateX(0);
}
.bar[check=false] .bar_check{
    border : 1px solid #5c8a8a;
}
.bar[check=false] .bar_background{
    background-color: rgba(46, 73, 73, 0.527);
}
.bar[check=false] .bar_check::before{
    content: '否';
    color: rgb(122, 122, 122);
}
.bar_check{
    --height : 32px;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    border : 1px solid #5ae0e0;
    transition: 200ms;
    height: var(--height);
    width: 60px;
    justify-self: right;
    border-radius: 40px;
    padding: 3px;
}
.bar_check::before{
    content: '是';
    transition: 200ms;
    position: absolute;
    display: block;
    left: -50%;
    font-size: 0.8em;
}
.bar_background{
    position: relative;
    box-sizing: border-box;
    display: grid;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    transition: 200ms;
    background-color: rgba(46, 110, 110, 0.527);
    padding: 2px 2px;
}
.bar_round{
    position: relative;
    display: inline-block;
    transition: 200ms;
    width: calc(var(--height) - 12px);
    height: 100%;
    border-radius: 50%;
    background-color: aqua;
    left: 100%;
    transform: translateX(-100%);
}
.select{
    display: grid;
    font-size: 1.4em;
    margin: 16px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0 16px;
    height: 60px;
    align-items: center;
    grid-template-columns: auto auto auto;
    width: 244px;
    background-color: var(--check_background);
    border-radius: 6px;
    box-shadow: inset 1px 1px rgb(100, 102, 104), 2px 2px 2px var(--main_dark);
}
.input{
    display: grid;
    font-size: 120%;
    font-size: 1.4em;
    margin: 0 16px;
    height: 60px;
    align-items: center;
    grid-template-columns: auto auto;
    width: 400px;
}
.keyin{
    box-sizing: border-box;
    font-size: 1em;
    background-color: unset;
    border: unset;
    color: var(--word);
}
input[type=number]{
    width: 50px;
    text-align: right;
}
input[type=number],select,option{
    box-sizing: border-box;
    font-size: 1em;
    background-color: unset;
    border: unset;
    color: var(--word);
}
select{
    cursor: pointer;
}
option{
    background-color: rgba(0,0,0,1);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.sub{
    padding-left: 20px;
}
.subb{
    padding-left: 80px;
}
.margin{
    margin: 32px;
}
.color{
    grid-template-columns: 24px auto 30px;
    cursor: unset;
    width: 242px;
    height: 60px;
}
.color-picker [type=text],.color-picker [type=color]{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    border: unset;
    padding: 0;
    outline: none;
}
.color-picker [type=text]{
    z-index: 1;
    background-color: var(--check_background);
    pointer-events: none;
}
.color-picker [type=color]{
    cursor: pointer;
    z-index: 0;
}
.center{
    display: grid;
    align-items: center;
    height: 60px;
    width: 60px;
    margin-top: 16px;
    margin-left: 16px;
}
.increase,.delete-color{
    user-select: none;
    display: grid;
    cursor: pointer;
    font-size: 1.4em;
    height: 30px;
    width: 30px;
    justify-items: center;
    align-items: center;
    background-color: var(--check_background);
    border-radius: 50%;
    box-shadow: inset 1px 1px rgb(100, 102, 104), 2px 2px 2px var(--main_dark);
}
.delete-color{
    line-height: 30px;
}
.img-show,.color-show,.border-show,.button-show{
    overflow: hidden;
    max-height: 0;
    transition: 2s;
}
.img-show[opened]{
    max-height: 260px;
}
.color-show[opened]{
    overflow: auto;
    max-height: 600px;
}
.border-show[opened]{
    max-height: 152px;
}
.button-show[opened]{
    max-height: 3490px;
}
.active,.hover{
    max-height: 0;
    overflow: hidden;
    transition: 2s;
}
.active[opened],.hover[opened]{
    max-height: 1100px;
    overflow: auto;
}




  *::-webkit-scrollbar {
    width:34px;
    height:34px;
  }
  *::-webkit-scrollbar-button {
    display: block;
    width: 34px;
    height: 34px;
  }
  
  *::-webkit-scrollbar-button:decrement:start {
    display: block;
    background-image: url("img/icon.png"), linear-gradient(45deg,red,aqua);
    border : 2px solid black;
  }
  
  *::-webkit-scrollbar-button:increment:start {
    display: unset;
    border:5px solid red;
  }
  
  *::-webkit-scrollbar-button:decrement:end {
    display: block;
    background-color:orange;
    border:2px solid black;
  }
  
  *::-webkit-scrollbar-button:increment:end {
    display: block;
    background-color:brown;
    border:2px solid black;
  }
  
  *::-webkit-scrollbar-thumb {
    min-width:20px;
    min-height:20px;
    background-color: navy;
    border:2px solid #cccccc;
  }
  *::-webkit-scrollbar-track-piece:decrement {
    background-color: red;
  } 
  *::-webkit-scrollbar-track-piece:decrement:active {
    background: url("img/icon.png");
    background-size: 100% 20%;
  }
  *::-webkit-scrollbar-track-piece:increment {
    background-color: pink;
  }
  *::-webkit-scrollbar-button:decrement:hover {
    background-color: aqua;
 }
 *::-webkit-scrollbar-button:increment:active {
   background-color: wheat;
   border-radius: 50%;
}
*::-webkit-scrollbar-corner { 
    display: block;
    background-color: royalblue;
    border-radius: 50%;
}